

body
{
  
  margin: auto;
   margin: 300px; 
  padding-bottom: 1000px;
  background-image: url("/src/images/maskgroup.jpg");
  background-size: 100%;
  background-position: cover;
  background-repeat: no-repeat;

  
 
} 

