

body {
  margin: 200px; 
  padding-bottom: 220px;
  background: url("/src/images/maskgroup.jpg");
  background-size: 45%;
  background-position: center;
  background-position: cover;
  background-repeat: no-repeat;
  background-color: black;
  transition: 5s;
 


animation-name:animate;
animation-direction:alternate-reverse;
animation-duration:39s;
animation-fill-mode:forwards;
animation-iteration-count:infinite;
animation-play-state:running;
animation-timing-function: ease-in-out ;

}

 



@keyframes animate{
  25%{
    background-image:url("/src/images/bobby.jpg");
    background-size: contain;
    
  }
  45%{
    background-image:url("/src/images/frameten.jpg");
    background-size: contain;
  }
  
  }

  /* .full-page {
    background-image: url("/src/images/maskgroup.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    }
  
  .trial {
    display: block;
    color: #474747;
    font-size: 2.1em;
    margin-top: 50vh;
  } */