/* body {
 

    background: url("/public/imagess/frame3.jpg");
    background-size: 100%;
    background-position: center;
    background-position: cover;
    background-repeat: no-repeat;
    background-color:white;
  } */